.iu-center-box {
    width:960px;
}
.index {
    font-family:'Nanum Gothic', sans-serif;
    font-size:13px;
}
.Header1 {
    background-color:rgb(255,255,255);
    border-bottom-color:rgb(182,182,182);
    border-bottom-width:1px;
    height:54px;
    position:fixed;
    width:calc(100%);
    width:-moz-calc(100%);
    width:-webkit-calc(100%);
    z-index:11;
}
.Text194 {
    font-weight:700;
    left:12px;
    top:18px;
}
.Cell39 {
    float:right;
    font-size:12px;
    height:54px;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    right:0px;
    text-align:center;
}
.Cell38 {
    float:right;
    font-size:12px;
    height:54px;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    right:0px;
    text-align:center;
    letter-spacing: -0.8px;
}
.Cell39 > a {
    line-height:54px;
}
.Cell38 > a {
    line-height:54px;
}
.Cell33 {
    float:right;
    font-size:12px;
    height:54px;
    margin-right:20px;
    position:relative;
    right:0px;
    text-align:center;
}
.Cell33 > a {
    line-height:54px;
}
.Cell34 {
    float:right;
    font-size:12px;
    height:54px;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    right:0px;
    text-align:center;
}
.Cell34 > a {
    line-height:54px;
}
.Cell35 {
    float:right;
    font-size:12px;
    height:54px;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    right:0px;
    text-align:center;
}
.Cell35 > a {
    line-height:54px;
}
.Image1 {
    display:none;
    float:right;
    height:15px;
    margin-right:10px;
    margin-top:18px;
    position:relative;
    right:0px;
    width:20px;
}
.Box1 {
    display:none;
    height:93px;
    left:179px;
    top:49px;
    width:134px;
}
.Cell1 > a {
    line-height:36px;
}
.Cell1 {
    height:36px;
    left:10px;
    text-align:center;
    top:11px;
    width:116px;
}
.Cell151 {
    height:36px;
    left:10px;
    text-align:center;
    top:11px;
    width:116px;
}
.Cell151 > a {
    line-height:36px;
}
.Cell152 {
    height:36px;
    left:10px;
    text-align:center;
    top:11px;
    width:116px;
}
.Cell152 > a {
    line-height:36px;
}
.Cell153 {
    height:36px;
    left:10px;
    text-align:center;
    top:11px;
    width:116px;
}
.Cell153 > a {
    line-height:36px;
}
.PageContent1 {
    background-color:rgb(255,255,255);
    padding-top:55px;
}
.Section100 {
    background-image:url('../../project/bg_img_2.jpg');
    background-position:center center;
    background-size:cover;
    height:450px;
}
.Cell148 {
    -webkit-transition:background-color 0.5s, color 0.5s;
    border-color:rgb(0,85,170);
    border-radius:3px;
    border-width:1px;
    color:rgb(0,85,170);
    height:48px;
    left:389px;
    line-height:48px;
    text-align:center;
    top:372px;
    transition:background-color 0.5s, color 0.5s;
    width:180px;
}
.Cell148.iux-hover, .Cell148.iux-active {
    background-color:rgb(0,85,170);
    color:rgb(255,255,255);
}
.Text738 {
    color: rgb(36,36,36);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    left: 272px;
    text-align: center;
    top: 130px;
    line-height: 50px;
}
.Text739 {
    height:93px;
    left:302px;
    text-align:center;
    top:260px;
    width:400px;
    letter-spacing: -0.8px;
}
.Section101 {
    height:980px;
}
.Text740 {
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 29px;
    border-bottom: 1px solid #000;
    padding: 4px;
    left:363px;
    top:80px;
}
.Box545 {
    background-color:rgb(218,218,218);
    float:none;
    height:350px;
    left:480px;
    top:180px;
    width:480px;
}
.Image229 {
    -webkit-transition:top 0.5s;
    height:360px;
    left:0px;
    top:-10px;
    transition:top 0.5s;
    width:480px;
}
.Image229.iux-hover, .Image229.iux-active {
    top:0px;
}
.Text741 {
    color:rgb(255,255,255);
    font-size:30px;
    font-weight:700;
    left:0px;
    text-align:center;
    top:130px;
    width:100%;
}
.Text742 {
    color:rgb(255,255,255);
    left:0px;
    text-align:center;
    top:170px;
    width:100%;
    font-size: 17px;
    letter-spacing: -0.8px;
    font-weight: 300;
}
.Box546 {
    background-color:rgb(218,218,218);
    float:none;
    height:350px;
    left:0px;
    top:180px;
    width:480px;
}
.Image230 {
    -webkit-transition:top 0.5s;
    height:360px;
    left:0px;
    top:-10px;
    transition:top 0.5s;
    width:480px;
}
.Image230.iux-hover, .Image230.iux-active {
    top:0px;
}
.Text743 {
    color:rgb(255,255,255);
    font-size:30px;
    font-weight:700;
    left:0px;
    text-align:center;
    top:130px;
    width:100%;
}
.Text744 {
     color:rgb(255,255,255);
    left:0px;
    text-align:center;
    top:170px;
    width:100%;
    font-size: 17px;
    letter-spacing: -0.8px;
    font-weight: 300;
}
.Box547 {
    height:350px;
    left:0px;
    top:550px;
    width:100%;
}
   .Box547-1{
    display: block;
    position: absolute;
    top: 916px;
    /* left: 370px; */
    color: #fff;
    background: #000;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    /* margin: 0 auto; */
    /* border-radius: 9px; */
    letter-spacing: -1px;
    font-weight: 600;
    }

    .Box547-1:hover {
    background-color: #414eb5;
}
.Image231 {
    -webkit-transition:top 0.5s;
    height:360px;
    left:0px;
    top:-10px;
    transition:top 0.5s;
    width:960px;
}
.Image231.iux-hover, .Image231.iux-active {
    top:0px;
}
.Text745 {
    color:rgb(255,255,255);
    font-size:14px;
    font-weight:400;
    left:0px;
    text-align:center;
    top:175px;
    width:100%;
    letter-spacing: -1px;
}
.Text746 {
    color:rgb(255,255,255);
    font-size:30px;
    left:0px;
    text-align:center;
    top:160px;
    width:100%;
}
.Section102 {
    height:500px;
}
.Text747 {
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 29px;
    border-bottom: 1px solid #000;
    padding: 4px;
    left:300px;
    top:80px;
        z-index: 100;

}
.Carousel6> .iux-carousel-pager > li {
    background-color:rgb(145,145,145);
    border-radius:6px;
    margin:6px;
    padding:6px;
}
.Carousel6 > .iux-carousel-prev,.Carousel6 > .iux-carousel-next {
    display:none;
}
.Carousel6 {
    background-color:rgb(255,255,255);
    border-radius:10px;
    height:300px;
    left:80px;
    top:117px;
    width:800px;
}
.Carousel6 > .iux-carousel-pager > li:hover,.Carousel6 > .iux-carousel-pager > li.iux-active {
    background-color:rgb(0,0,0);
}
.Carousel6 > .iux-carousel-pager {
    bottom:40px;
    text-align:center;
    visibility:visible;
}
.CarouselItem22 {
    background-color:rgb(255,255,255);
    float:left;
    height:100%;
    position:relative;
}
.Text748 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    left: 280px;
    top: 96px;
}
.Text749 {
    font-size: 14px;
    letter-spacing: -1px;
    left: 280px;
    text-align: left;
    top: 133px;
    width: 497px;
}
.Image232 {
    border-radius:100px;
    height:100px;
    left:140px;
    top:102px;
    width:100px;
}
.CarouselItem23 {
    background-color:rgb(255,255,255);
    float:left;
    height:100%;
    position:relative;
}
.Image233 {
    border-radius:100px;
    height:100px;
    left:140px;
    top:102px;
    width:100px;
}
.Text750 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    left: 280px;
    top: 96px;
}
.Text751 {
    font-size: 14px;
    letter-spacing: -1px;
    left: 280px;
    text-align: left;
    top: 133px;
    width: 497px;
}
.CarouselItem24 {
    float:left;
    height:100%;
    position:relative;
}
.Image234 {
    border-radius:100px;
    height:100px;
    left:140px;
    top:102px;
    width:100px;
}
.Text752 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    left: 280px;
    top: 96px;
}
.Text753 {
    font-size: 14px;
    letter-spacing: -1px;
    left: 280px;
    text-align: left;
    top: 133px;
    width: 497px;
}
.Section103 {
    background-attachment:fixed;
    background-image:url('https://images.unsplash.com/photo-1446505673095-d7a5ada6aced?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=956&h=637&q=80');
    background-position:center center;
    background-size:cover;
    height:350px;
}
.CenterBox113 {
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;
}
.Text754 {
    color:rgb(255,255,255);
    font-size:36px;
    font-weight:700;
    left:230px;
    text-align:center;
    top:146px;
    width:500px;
        letter-spacing: -1px;
}
.Text755 {
    color:rgb(255,255,255);
    font-size:24px;
    height:49px;
    left:266px;
    text-align:center;
    top:107px;
    width:429px;
        letter-spacing: -1px;
}
.Section104 {
    background-attachment:fixed;
    background-color:#000;
    background-position:center center;
    background-size:cover;
    height:500px;
}
.Text756 {
    color: rgb(255,255,255);
    font-size: 28px;
    font-weight: 600;
    left: 264px;
    top: 70px;
    width: 442px;
    letter-spacing: -0.8px;
    border-bottom: 1px solid #fff;
}
.TextField5 {
    border-radius:3px;
    float:none;
    font-size:16px;
    height:44px;
    left:224px;
    padding-left:10px;
    padding-right:10px;
    top:400px;
    width:344px;
}
.Cell149.iux-hover, .Cell149.iux-active {
    background-color:rgb(255,255,255);
    color:#000;
}
.Cell149 {
    -webkit-transition:background-color 0.5s;
    border-color:rgb(255,255,255);
    border-radius:3px;
    border-width:1px;
    color:rgb(255,255,255);
    height:44px;
    left:603px;
    line-height:44px;
    text-align:center;
    top:400px;
    transition:background-color 0.5s;
    width:124px;
}
.Image235 {
    height:200px;
    left:731px;
    top:140px;
    width:200px;
}
.Text757 {
    color: rgb(255,255,255);
    height: 71px;
    left: 278px;
    text-align: center;
    top: 362px;
    width: 405px;
    letter-spacing: -0.6px;
    font-size: 14px;
}
.Section105 {
    height:500px;
}
.GoogleMap4 {
    height:100%;
    width:100%;
}
.Box548 {
    -webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
    background-color:rgb(255,255,255);
    border-top-color:rgb(0,0,0);
    border-top-width:4px;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
    height:202px;
    right:40px;
    top:248px;
    width:240px;
}
.Text760 {
    color:rgb(0,0,0);
    font-size:16px;
    font-weight:700;
    left:20px;
    top:20px;
    letter-spacing: -1px;
}
.Text761 {
    height:41px;
    left:20px;
    top:60px;
    width:215px;
}
.Text762 {
    left:20px;
    top:121px;
}
.Text763 {
    left:20px;
    top:147px;
}
.Footer1 {
    background-color:rgb(36,36,36);
    height:120px;
    position:relative;
    width:100%;
}
.Text204 {
    color:rgba(255,255,255,0.50);
    left:370px;
    top:51px;
}

    .iu-btn {
        display: block;
    position: absolute;
    top: 227px;
    left: 370px;
    background: #fff;
    padding: 13px 42px;
    /* margin: 0 auto; */
    border-radius: 10px;
    letter-spacing: -1px;
    font-weight: 600;
    }

.iu-btn:hover {
    color:#fff;
    background-color: #000;
}

@media screen and (max-width:959px) {
    .iu-center-box {
        width:320px;
    }
    .Header1 {
        overflow:visible;
    }
    .CenterBox30 {
        overflow:visible;
    }
    .CELL39 {
        display:none;
        right:0px;
    }
    .Cell38 {
        display:none;
        right:0px;
    }
    .Cell33 {
        display:none;
        right:0px;
    }
    .Cell34 {
        display:none;
        right:0px;
    }
    .Cell35 {
        display:none;
        right:0px;
    }
    .Image1 {
        display:inherit;
        float:right;
        margin-right:10px;
        margin-top:19px;
        position:relative;
        right:0px;
    }
    .Box1 {
        background-color:rgb(255,255,255);
        border-color:rgb(218,218,218);
        border-width:1px;
        display:none;
        height:172px;
        left:184px;
        top:54px;
    }
    .Cell1 {
        left:10px;
    }
    .Cell151 {
        left:10px;
        top:48px;
    }
    .Cell152 {
        left:10px;
        top:85px;
    }
    .Cell153 {
        left:10px;
        top:122px;
    }
    .Section100 {
         height:370px;
     }
    .Section106 {
        height:400px;
    }
    .Cell148 {
        left:69px;
        top:224px;
    }
    .Text738 {
        font-size:24px;
        left:24px;
        top:50px;
    }
    .Text739 {
        left:14px;
        top:184px;
        width:293px;
    }
    .Section101 {
        height:1200px;
    }
    .Text740 {
        font-size:24px;
        left:80px;
        top:50px;
    }
    .Box545 {
        height:320px;
        left:0px;
        top:450px;
        width:100%;
    }
    .Text741 {
        font-size:28px;
        left:10px;
        top:122px;
    }
    .Text742 {
        font-size:20px;
        left:10px;
        top:162px;
    }
    .Box546 {
        height:320px;
        top:120px;
        width:100%;
    }
    .Text743 {
        font-size:28px;
        left:10px;
        top:122px;
    }
    .Text744 {
        font-size:20px;
        left:10px;
        top:162px;
    }
    .Box547 {
        top:780px;
    }
    .Box547-1 {
        top:1140px;
    }


    .Text745 {
    font-size: 15px;
    left: 10px;
    top: 180px;
    }
    .Text746 {
        font-size:20px;
        left:10px;
        top:94px;
    }
    .Section102 {
        height:520px;
    }
    .Text747 {
        font
        -size:24px;
            z-index: 100;
            left: 0px;
    font-size: 24px;
    z-index: 100;
    }
    .Carousel6 > .iux-carousel-prev,.Carousel6 > .iux-carousel-next {
        display:none;
    }
    .Carousel6 > .iux-carousel-pager {
        text-align:center;
        visibility:visible;
    }
    .Carousel6 {
        height:372px;
        left:-1px;
        top:121px;
        width:321px;
    }
    .Text748 {
        font-size:14px;
        left:73px;
        text-align:center;
        top:165px;
    }
    .Text749 {
        font-size:12px;
        height:115px;
        left:18px;
        text-align:center;
        top:200px;
        width:281px;
    }
    .Image232 {
        left:110px;
        top:42px;
    }
    .Image233 {
        left:110px;
        top:42px;
    }
    .Text750 {
        font-size:14px;
        left:93px;
        text-align:center;
        top:165px;
    }
    .Text751 {
        font-size:12px;
        height:95px;
        left:21px;
        text-align:center;
        top:200px;
        width:267px;
    }
    .Image234 {
        left:110px;
        top:42px;
    }
    .Text752 {
        font-size:14px;
        left:140px;
        text-align:center;
        top:165px;
    }
    .Text753 {
        font-size:12px;
        height:117px;
        left:17px;
        text-align:center;
        top:200px;
        width:275px;
    }
    .Section103 {
        height:200px;
    }
    .Text754 {
        font-size:28px;
        left:-90px;
        top:74px;
    }
    .Text755 {
        font-size:16px;
        left:-55px;
        top:53px;
    }
    .Section104 {
        height:500px;
    }
    .Text756 {
     font-size: 19px;
    left: 12px;
    width: 297px;
    }
    .Text757{
    left: 44px;
    width: 238px;
    font-size: 12px;

    }
    .TextField5 {
        font-size:13px;
        height:40px;
        left:10px;
        top:404px;
        width:190px;
    }
    .Cell149 {
        font-size:13px;
        height:40px;
        left:230px;
        line-height:40px;
        top:403px;
        width:80px;
    }
    .Image235 {
        left:88px;
    }
    .Section105 {
        height:300px;
    }
    .GoogleMap4 {
        height:100%;
        width:100%;
    }
    .Box548 {
        height:119px;
        right:10px;
        top:165px;
        width:300px;
    }
    .Text760 {
        font-size:14px;
        left:10px;
        top:15px;
    }
    .Text761 {
        left:10px;
        top:41px;
        width:283px;
    }
    .Text762 {
        left:11px;
        top:62px;
    }
    .Text763 {
        left:120px;
        top:63px;
    }
    .Text204 {
        left:62px;
    }

    .iu-btn {
    top: 126px;
    left: 52px;
    }

}